<div id="about">
  <h2 class="custom-SectionHeader">About</h2>
  <div class="row">
      <div class="col-md-2 custom-Header">Category</div>
      <div class="jp-category col-md-8"><span>{{ category }}</span></div>
  </div>
  <div class="row">
      <div class="col-md-2 custom-Header">About</div>
      <div id="about-text" class="jp-description col-md-8">{{ description }}</div>  
  </div>      

</div>