<!-- Begin Help -->
<div id="help">
  <h2 class="custom-SectionHeader">Frequenty Asked Questions</h2>
  <div class="custom-Content"> 
    
    <div class="panel-group" id="accordion">
      <div class="custom-panel">
        <div class="custom-heading">
          <h4 class="custom-title"> 
          	<a class="accordion-toggle icon-plus" id="ToggleNewPlayer" href="#NewPlayer"> <span>To create a new media player you will need the following</span></a>
          </h4>
        </div>
        <div id="NewPlayer" class="panel-collapse">
          <div class="custom-body">
            <ol>
              <li> an IceCast HTTP streaming media server to stream the audio </li>
              <li> an audio source, either a live stream or a playlist of audio files</li>
              <li> encoding software with support for MP3 or AAC output</li>
              <li> a Web Server running PHP5 to host the media player application</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="custom-panel">
        <div class="custom-heading">
          <h4 class="custom-title"> <a class="accordion-toggle icon-plus" href="#InstallPlayer"> <span>How do I install a new media player on my website?</a> </span></h4>
        </div>
        <div id="InstallPlayer" class="panel-collapse">
          <div class="custom-body">
            <ol>
              <li> Download the Zip file from the Developer Center by following the easy 'How To' steps in our guide to creating a new player</li>
              <li> Unzip the downloaded file and upload the entire media player folder to your Web Server. The folder will be the name of the new media player channel you created.</li>
              <li> Point your browser to http://yourwebsite.com/yourchannel.) Start Streaming on the Web and from your mobile device!</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="custom-panel">
        <div class="custom-heading">
          <h4 class="custom-title"> <a class="accordion-toggle icon-plus" href="#ChangePlayer"><span> Can I make changes to my media player after I've created it?</a></span> </h4>
        </div>
        <div id="ChangePlayer" class="panel-collapse">
          <div class="custom-body"> Yes, all the files in your new channel folder are editable if you are very familiar with editing HTML, CSS, Javascript and PHP. However we suggest you use the Developer Center to easily create a new player, it's free to use and you can always create a new player. </div>
        </div>
      </div>
      <div class="custom-panel">
        <div class="custom-heading">
          <h4 class="custom-title"> <a class="accordion-toggle icon-plus" href="#PersonalInformation"><span> Why do you need me to add my personal contact information to create a new player?</a></span> </h4>
        </div>
        <div id="PersonalInformation" class="panel-collapse">
          <div class="custom-body"> We'll only ever use this information to be able to contact you about future software updates and services that may become available to use with your player. We never share this information with 3rd party services or use it to track activity on the Web. </div>
        </div>
      </div>
      <div class="custom-panel">
        <div class="custom-heading">
          <h4 class="custom-title"> <a class="accordion-toggle icon-plus" href="#ForDevelopers"><span> I'm a developer, how can I contribute to this open source project?</a></span> </h4>
        </div>
        <div id="ForDevelopers" class="panel-collapse">
          <div class="custom-body"> Follow the project's progress and make contributions on our GitHub Page. </div>
        </div>
      </div>
    </div>
    
  </div>
  
</div><!-- /#help -->
