<div class="sidebar-nav">
  {{#if menu}}
  <ul class="nav nav-list">
    {{#if menu.listen}}
      <li class="nav-header"><a href="#/listen">Listen</a></li>
    {{/if}}
    {{#if menu.schedule}}
      <li class="nav-header"><a href="#/schedule">Schedule</a></li>
    {{/if}}
    {{#if menu.podcasts}}
      <li class="nav-header"><a href="#/podcasts">Podcasts</a></li>
    {{/if}}
    {{#if menu.about}}
      <li class="nav-header"><a href="#/about">About</a></li>
    {{/if}}
    {{#if menu.help}}
      <li class="nav-header"><a href="#/help">Help</a></li>
    {{/if}}
  </ul>
  {{/if}}
</div>
<!-- End Side Menu --> 
<!-- Begin Web/Social Presence Links -->
<ul class="jp-social custom-WebSocialPresence">
  <li class="custom-Header">Visit us on the web</li>
</ul>
<!-- End Web/Social Presence Links --> 
</div>