<div class="bbgPodcastSection">
<ul class="audio-list">
{{#each models}}
    <li>
    	<a href="" class="podcast-pause" style="display: none;">Pause</a>
    	<a href="" class="podcast-resume" style="display: none;">Play</a> 
    	<div class="title"><span>{{attributes.title}}</span><i class="bbgPodcastInfoDetails "></i>
    	<p>{{attributes.description}}</p>
    </li>
{{/each}}
</ul>
